<html>
    <head>
        <title> pandaBlog</title>
    </head>
    <body>
        <div>
            <h1><a href="">p a n d a B L O G</a></h1>
        </div>

        <div>
            <p><published: 27.02.2016, 18:38</p>
            <h2><a href=""> tutaj sobie skacze</a></h2>
            <p>bambuuuuuuuuuuuus</p>
        </div>

        <div>
            <p><published: 27.02.2016, 18:40</p>
            <h2><a href=""> a tu nie</a></h2>
            <p>bambuuuuuuuuuuuus</p>
        </div>

        <p>Działa!</p>
    </body>
</html>
